
<div style="margin-top: 100px;overflow: hidden;margin-right: auto;margin-left: auto;padding:15px;border-radius:4px;background: #fff;width: 400px;">
	<!-- 安全中心 初始状态 start -->
	<h4  style="color: #E23C3D;margin-bottom: 20px;">支付密码设置</h4>

	<div class="verification">


        <form action="{:U('account/savepaykey')}" method="post" name="formUser" >
            <table width="100%"  border="0" align="left" cellpadding="5" cellspacing="3" style="margin-bottom: 20px;">
                <tr id="mobileform">
                    <td align="right"><span style="color:#FF0000"> *</span>支付密码<td>
                <input id="mobile" name="paykey" type="text" value="{$code}" size="25" class="inputBg" />
              </td>
                </tr>

                <tr>
                    <td align="right"></td>
                    <td>&nbsp;&nbsp;&nbsp;<input type="button" value=" 设置 " onclick="" id="check" class="btn-check orange button"></td>
                </tr>
            </table><input type="hidden" name="uid" value="{$uid}">
            <p class="title"><b>支付密码设置失败</b></p>

            <p>&nbsp;&nbsp;·&nbsp;若多次操作未设置成功，请将问题反馈给客服：{:C("CONTACT")}</p>
        </form>
     </div>
</div>


<script>

    function checkcode(){

        var yourcode="{:get_username()}";
        var m=jQuery.trim($('#mobile').val());
        var code=jQuery.trim($('#smscode').val());
        $.ajax({
            url:'{:U("account/checksmscode")}', //发送数据的地址

            type: 'POST',

            data:{mobile:m,mobile_code:code;</php>},

    dataType: 'json',

            timeout: 1000,

            error: function(){
        $("#send_num").html(data.smg);
    },

    success: function(data){
        document.getElementById("check').disabled = false;
        alert(data.msg);


    }

    });

    }
</script>