<extend name="Base/center"/>
<block name="body">

<div class="main"><div class="main_center"><div class="center_left">
<!-- 左侧菜单 -->
	<include file="Public/leftmenu"/>
<!-- 左侧菜单 -->
</div><div class="center_right" style="display: none;"><div class="center_right_loading"></div></div><div id="memberCenter" style="display: block;"><!-- 个人中心 初始状态 start -->
<div class="center_right" id="MemberCenterCtrl" style="display: block;">
	
	<h3 class="cr_h3 cr_h3_gray">历史评价统计</h3>

	
	<div class="personal_info">
				<p><span class="rate-icon rate-ok"><img src="__IMG__/ok.png">好评 {$best}个</span><span class="rate-icon rate-ok"><img src="__IMG__/bad.png">差评{$bad}个</span><span class="rate-icon rate-ok"><img src="__IMG__/common.png">一般{$common}个</span></p>
			</div>
	<h4 style="margin-top: 10px;"><span>评价列表</span></h4>
       
	    <table   class="col_name"  width="100%">
            <tr>
                <th width="45%">评价</th>
				<th width="35%" >商品信息</th>
                <th width="20%" >时间</th>
            </tr>
          <volist name="comment" id="co">
            <tr class="comment_list">
                <td width="45%" align="center">
                <php>if($co['score']==1){echo "<img src='/Public/Home/images/bad.png' style='vertical-align: middle'>"
                  ;};
                  if($co['score']==2){echo "<img src='/Public/Home/images/common.png' style='vertical-align: middle'>"
                  ;};
                  if($co['score']==3){echo "<img src='/Public/Home/images/ok.png' style='vertical-align: middle;'>"
                  ;};
                  </php>
                    {$co.content}
                </td>
                  <td width="35%" align="center"> <a href="{:U('Article/detail?id='.$co['goodid'])}" >{$co.son_info.title} </a>￥{$co.son_info.price} </td>
                  <td width="20%" align="center">{$co.create_time|date='Y-m-d H:i:s',###}</td>
            </tr>

           </volist>
        </table>
		
       
	
	
	<!-- 分页 -->
        <div class="page">
        {$page}
        </div>


<!-- 个人中心 初始状态 end --></div></div>

    <script type="text/javascript">

        seajs.use(['Ucenter','Coupon'],function(ucenter,cpon){
            ucenter.center_init();
        })
    </script>
       
   
   
</block>
