<extend name="Base/center"/>
<block name="body">

<div class="main"><div class="main_center"><div class="center_left">
<!-- 左侧菜单 -->
	<include file="Public/leftmenu"/>
<!-- 左侧菜单 -->
</div><div class="center_right" style="display: none;"><div class="center_right_loading"></div></div><div id="memberCenter" style="display: block;"><!-- 个人中心 初始状态 start -->
<div class="center_right" id="MemberCenterCtrl" style="display: block;">

	<div class="red" style="clear:both; overflow:hidden; padding:10px;"><b>个人资料</b></div>


       
    <form method="post" class="person-info" id="information" >
        
		
<ul style="margin-left:40px;">
		    <li class="common_info">
                <P>
                    <empty name='faceid'>
                        <img src="__IMG__/head_mail.png" width="100" height="100"/>
                    <else />
	                    <img src="{$faceid|get_cover='path'}"  />
                    </empty>
                </p>
                <p style="margin-bottom: 45px;margin-top: 15px; padding-left: 10px;"><a href="{:U('user/cut?id='.$information['uid'])}" class="sm_btn">修改图像</a></p>
		   </li>
          <li class="common_info"><span>昵称:</span><input type="text" name="nickname" value="{$information.nickname}" /> </li>
          <li><span>账号:</span>{$username} </li>
         <li class="common_info"><span>QQ:</span><input type="text" name="qq" value="{$information.qq}" /> </li>
          <li class="common_info"><span>性别：</span><php>
		  if($information["sex"]=="1"){echo "男";};
		  if($information["sex"]=="2"){echo "女";};
		   if($information["sex"]==0){echo "<select name='sex'><option  value='1'>男</option><option name='sex' value='2'>女</option></select>";};
		  </php>
		  
		  </li>
           <li class="common_info"><span>生日：</span><input type="text" name="birthday" value="{$information.birthday}" /> </li>

             <li><span>&nbsp;</span><input type="button" id="edit_person_info" class="btn-xiugai orange"  value="修改" /> </li><BR>

</ul> 
        </form>

	
	

<!-- 个人中心 初始状态 end --></div></div>
    <script type="text/javascript">

        seajs.use(['Ucenter','Passwd'],function(ucenter,Passwd){
            ucenter.center_init();
        })
    </script>
      
   
</block>
