<extend name="Base/center"/>
<block name="body">

<div class="main"><div class="main_center"><div class="center_left">
<!-- 左侧菜单 -->
	<include file="Public/leftmenu"/>
<!-- 左侧菜单 -->
</div><div class="center_right" style="display: none;"><div class="center_right_loading"></div></div><div id="memberCenter" style="display: block;"><!-- 个人中心 初始状态 start -->
<div class="center_right" id="MemberCenterCtrl" style="display: block;">

	<div class="red" style="clear:both; overflow:hidden; padding:10px;"><b>个人资料</b></div>


       
    <form method="post" class="person-info" id="information" >
    <div class="person_center">
        <div class="left_face">
            <ul>
                <li class="common_info"><span>昵称:</span><input type="text" name="nickname" value="{$information.nickname}" /> </li>
                <li><span>账号:</span>{$username} </li>
                <li class="common_info"><span>QQ:</span><input type="text" name="qq" value="{$information.qq}" /> </li>
                <li class="common_info"><span>性别：</span><php>
                    if($information["sex"]=="1"){echo "男";};
                    if($information["sex"]=="2"){echo "女";};
                    if($information["sex"]==0){echo "<select name='sex'><option  value='1'>男</option><option name='sex' value='2'>女</option></select>";};
                </php>

                </li>
                <li class="common_info"><span>生日：</span><input type="text" name="birthday" class="text time" value="{$information.birthday|time_format}" placeholder="请选择时间"> </li>

                <li><span>&nbsp;</span><input type="button" id="edit_person_info" class="btn-xiugai orange"  value="修改" /> </li>

            </ul>
        </div>

        <div class="right_info">
            <P class="user_face">
                <empty name='uface'>
                    <img src="__IMG__/head_mail.png" width="100" height="100" style="border-radius:100px;"/>
                    <input type="hidden" name="user_face" value=""/>
                    <else />
                    <img src="{$uface|get_face}"  width="100" height="100" style="border-radius:100px;"/>
                    <input type="hidden" name="user_face" value="{$uface}"/>
                </empty>

            </p>
            <p style="margin-bottom: 45px;margin-top: 15px; padding-left: 10px;" class="my_face">
                <input type="file" id="modify_head">
            </p>
        </div>
    </div>
    </form>

    <span class="red" style="display: block;padding:15px;font-size:17px;"><b>浏览历史</b> &nbsp;&nbsp;[ <a class="confirm" style="font-size: 12px;" href="{:U('center/history')}">更多</a> ]</span>
    <ul class="userhas" id="cuser">
        <volist name="history" id="vo">
            <li>
                <p style="position: relative;height: 190px;">
                    <a href="{:U('Article/detail?id='.$vo['id'])}" title="{$vo.title}"><img src="{:C('QINIUDOMAIN')}/{$vo.fengmian}"  width="170px" height="170px"/></a>
                </p>
                <p><a href="{:U('Article/detail?id='.$vo['id'])}">{$vo.title}</a></p>

                <p> <a  href="{:U('Article/detail?id='.$vo['id'])}" class="red"><b>￥{$vo.price}</b></a></p></li>

        </volist>
    </ul>

	
	

<!-- 个人中心 初始状态 end --></div></div>
    <script type="text/javascript">

        seajs.use(['Ucenter','Passwd'],function(ucenter,Passwd){
            ucenter.center_init();
            ucenter.pic_flash();
        })
    </script>
    <script type="text/javascript" src="__STATIC__/uploadify/jquery.uploadify.min.js?v=<php>echo rand(100,999)</php>"></script>
    <script type="text/javascript" src="__STATIC__/UploadImages.js"></script>

    <link href="__STATIC__/datetimepicker/css/datetimepicker.css" rel="stylesheet" type="text/css">
    <php>if(C('COLOR_STYLE')=='blue_color') echo '<link href="__STATIC__/datetimepicker/css/datetimepicker_blue.css" rel="stylesheet" type="text/css">';</php>
    <link href="__STATIC__/datetimepicker/css/dropdown.css" rel="stylesheet" type="text/css">
    <script type="text/javascript" src="__STATIC__/datetimepicker/js/bootstrap-datetimepicker.min.js"></script>
    <script type="text/javascript" src="__STATIC__/datetimepicker/js/locales/bootstrap-datetimepicker.zh-CN.js" charset="UTF-8"></script>

    <script>
        $('.date').datetimepicker({
            format: 'yyyy-mm-dd',
            language:"zh-CN",
            minView:2,
            autoclose:true
        });
        $('.time').datetimepicker({
            format: 'yyyy-mm-dd hh:ii',
            language:"zh-CN",
            minView:2,
            autoclose:true
        });

        $("#modify_head").uploadify({
            "height"          : 30,
            "width"           : 120,
            "buttonText"      : "修改头像",
            "swf"             : "__STATIC__/uploadify/uploadify.swf",
            "fileObjName"     : "qiniu_file",
            "uploader"        : "{:U('File/uploadPictureQiniu')}",
            'removeTimeout'	  : 1,
            'fileTypeExts'	  : '*.jpg; *.png; *.gif;',
            "onUploadSuccess" : uploadPictureOne,
            'onFallback' : function() {
                alert('未检测到兼容版本的Flash.');
            }
        });
        function uploadPictureOne(file, data){
            var data = $.parseJSON(data);
            if(data.is_data == 'yes')
            {
                var src = "{:C('QINIUDOMAIN')}/"+data.key;
                $("input[name=user_face]").val(data.key);
                $(".user_face").html(
                        '<img src="' + src + '" width="100" height="100" style="border-radius:100px;"/></div>'
                );
            }else{
                alert(data.errorStr);
            }
        }
    </script>


</block>
