<extend name="Base/center"/>
<block name="body">

<div class="main"><div class="main_center"><div class="center_left">
<!-- 左侧菜单 -->
	<include file="Public/leftmenu"/>
<!-- 左侧菜单 -->
</div><div class="center_right" style="display: none;"><div class="center_right_loading"></div></div><div id="memberCenter" style="display: block;"><!-- 个人中心 初始状态 start -->
<div class="center_right" id="MemberCenterCtrl" style="display: block;">
<div class="order_namelist">
<span  ><a href='{:U("Center/allorder")}' class="red">已完成订单</a></span>
<span><a href='{:U("Center/needpay")}' class="red">待支付订单</a></span>
<span><a href='{:U("Center/tobeshipped")}' class="red">待发货订单</a></span>
<span class="active""><a href='{:U("Center/tobeconfirmed")}' class="red">待确认订单</a></span>
</div>

    <include file="Center/goodlist"/>



<!-- 个人中心 初始状态 end --></div></div></div>

       
        {:hook('documentDetailAfter',$info)}


    <script type="text/javascript">
        seajs.use(['Ucenter'],function(ucenter){
            ucenter.center_init();
            ucenter.center_order_action();
        })
    </script>
   
</block>
