<extend name="Base/center"/>
<block name="body">

<div class="main"><div class="main_center"><div class="center_left">
<!-- 左侧菜单 -->
	<include file="Public/leftmenu"/>
<!-- 左侧菜单 -->
</div><div class="center_right" style="display: none;"><div class="center_right_loading"></div></div><div id="memberCenter" style="display: block;"><!-- 个人中心 初始状态 start -->
<div class="center_right" id="MemberCenterCtrl" style="display: block;">
<div class="order_namelist">
<span  ><a href='{:U("Center/allorder")}' class="red">所有订单</a></span>
<span><a href='{:U("Center/needpay")}' class="red">待支付订单</a></span>
<span class="active"><a href='{:U("Center/tobeshipped")}' class="red">待发货订单</a></span>
<span><a href='{:U("Center/tobeconfirmed")}' class="red">待确认订单</a></span>
</div>


	<empty name='tobeshipped'>
	<div class="personal_info_none_goods">
        <p>没有订单， <img src="__IMG__/no_shop.png" style="vertical-align: middle;margin-left: 8px;margin-right: 8px;"/> <a href='{:U("Index/index")}' class="red">快去下单吧</a></p>
			
				<div class="cb"></div>
			</div>
	<else /><form action='{:U("Shopcart/delorder")}' method="post" name="delform" >
        <div class="order_del">
			  <span>  <input class="checkbox check-all" type="checkbox"> 全选</span></div>
        <div class="good-canshu"><span class="good-name">商品名称</span><span class="good-price">售价</span><span class="good-num">数量</span> <span class="good-action">商品操作</span><span class="good-total">总金额(元)</span>
	  <span class="good-status">交易状态</span> <span class="deal-action">交易操作</span></div>


          <volist name="tobeshipped" id="po"> <div class="single" onmouseover="this.className='singlehover'" onmouseout="this.className='single'">
			   <div class="order-detail"><input class="ids row-selected" type="checkbox" name="tag[]" value="{$po.tag}">订单号：<span >{$po.orderid}</span>&nbsp;&nbsp;&nbsp;下单时间：<span>{$po.create_time|date='Y-m-d H:i:s',###}&nbsp;
		<gt name="po['status']" value="2">
            <b><a href="javascript:;" class="del_one_order" data-url="{:U('Shopcart/delorder')}" data-tag="{$po['tag']}"><img src="__IMG__/iconfont-lajixiang.png" width="20" height="20"></a></b>
        </gt>
			   </div>
         <!-- 列表详情区域开始 -->  
		  <div class="goodlist-wrap">   
		<!-- 左边商品区域开始 -->  
		  <div class="three-area">
		  <volist name="po['id']" id="vo"> 
		  <div class="cos">
		   <span class="c1"><A href="{:U('Article/detail?id='.$vo['goodid'])}" class="dl"> <img class="imgFalsh" src="{:C('QINIUDOMAIN')}/{$vo['fengmian']}"  width="70" height="70"/></a>
		  <span class="dd"><a href="{:U('Article/detail?id='.$vo['goodid'])}"  class="dd"> {$vo.title}</a></span>
		 <span class="dd">{$vo.brand}</span>
		  </span>
		  <span class="c2">￥{$vo.price}</span>
		  <span class="c2">{$vo.num}</span> 
		    <span class="c2">
                <if condition="($vo['status'] eq 1) or ($vo['status'] eq 2)">无</if>
                <if condition="$vo['status'] eq 3">
                    <a  href='{:U("/Order/back",array("id"=>$vo["id"]))}'>退货</a>&nbsp;/
                    <a  href="{:U('/Order/change',array('id'=>$vo['id']))}">换货</a>
                </if>
                <if condition="$vo['status'] eq 4">
                    <a  href='{:U("/Order/backdetail",array("id"=>$vo["id"]))}'>退货审核中</a>&nbsp;
                </if>
                <if condition="$vo['status'] eq 5">
                    <a  href='{:U("/Order/backdetail",array("id"=>$vo["id"]))}'>同意退货</a>&nbsp;
                </if>
                <if condition="$vo['status'] eq 6">
                    <a  href='{:U("/Order/backdetail",array("id"=>$vo["id"]))}'>退货中</a>&nbsp;
                </if>
                <if condition="$vo['status'] eq 7">
                    <a  href='{:U("/Order/backdetail",array("id"=>$vo["id"]))}'>退货被拒绝</a>&nbsp;
                </if>
                <if condition="$vo['status'] eq 8">
                    <a  href='{:U("/Order/backdetail",array("id"=>$vo["id"]))}'>退货完成</a>&nbsp;
                </if>


                <if condition="$vo['status'] eq -4">
                    <a  href='{:U("/Order/backdetail",array("id"=>$vo["id"]))}'>换货审核中</a>&nbsp;
                </if>
                <if condition="$vo['status'] eq -5">
                    <a  href='{:U("/Order/backdetail",array("id"=>$vo["id"]))}'>同意换货</a>&nbsp;
                </if>
                <if condition="$vo['status'] eq -6">
                    <a  href='{:U("/Order/backdetail",array("id"=>$vo["id"]))}'>换货中</a>&nbsp;
                </if>
                <if condition="$vo['status'] eq -7">
                    <a  href='{:U("/Order/backdetail",array("id"=>$vo["id"]))}'>换货被拒绝</a>&nbsp;
                </if>
                <if condition="$vo['status'] eq -8">
                    <a  href='{:U("/Order/backdetail",array("id"=>$vo["id"]))}'>换货完成</a>&nbsp;
                </if>

                <if condition="$vo['iscomment'] eq 1">
                    <a  href='{:U("/Comment/index",array("id"=>$vo["id"]))}'>评价商品</a>&nbsp;
                </if>
                <if condition="$vo['iscomment'] eq 2">
                    <a  href='{:U("/Comment/index",array("id"=>$vo["id"]))}'>已评价</a>&nbsp;
                </if>
            </span>
		  </div>
		  </volist> 
		  </div>
		  <!-- 左边商品结束 -->  
		  
		  
 <div class="total-area"><p>￥{$po.pricetotal}</p><p>(运费￥{$po.shipprice})</p> 
		    </div>
		     <div class="deal-area">
			<p class="red"> 
			 <php>
                 $status=$po['status'];
                 if($status==13){ echo "<span class='order_tip'>待支付</span>";};
                 if($status==1){ echo "<span class='order_tip'>待发货</span>";};
                 if($status==2){ echo "<span class='order_tip'>已发货</span>";};
                 if($status==3){ echo "<span class='order_tip'>交易成功</span>";};
                 if($status==4){ echo "<span class='order_tip'>申请取消中</span>";};
                 if($status==5){ echo "<span class='order_tip'>取消被拒绝</span>";};
                 if($status==6){ echo "<span class='order_tip'>订单已取消</span>";};
			  </php> </p>
			<p><a href="{:U('order/detail?id='.$po['orderid'])}" style="margin-top: 14" class="confirm">订单详情</a></p>
			  </div>
			  <div class="act-area">
                  <if condition='$po.status eq 2'>
                      <p><a class='confirm' href='{:U("/order/complete",array("id"=>$po["orderid"]))}'>确认收货</a> </p>
                  </if>
                  <if condition='($po.status eq -1) and ($po.ispay eq 1)'>
                      <p><A class='confirm cancle_order'  href='javascript:;' data-id='{$po["orderid"]}' data-url="{:U('/order/cancel',array('id'=>$po['orderid']))}">取消订单</a> </p>
                      <p><A class='confirm' href="{:U('Pay/index',array('orderid'=>$po['orderid']))}">前去支付</a> </p>
                  </if>
                  <if condition='($po.status eq 1) and ($po.ispay eq -1)'>
                      <p><A class='confirm cancle_order'  href='javascript:;' data-id='{$po["orderid"]}' data-url="{:U('/order/cancel',array('id'=>$po['orderid']))}">取消订单</a> </p>
                  </if>
                  <if condition='$po.status eq 2'>
                      <p><a class='red confirm' href='{:U("/order/detail",array("id"=>$po["orderid"]))}'>查看物流</a> </p>
                  </if>
			  
		      </div>
		  </div>
       <!-- 列表详情区域结束 -->
	   </div>
		</volist>		
       </form>
        <!-- 分页 -->
        <div class="order_del_all">
            <a href='javascript:void(0)' class="delorder sm_btn" style="padding-top:8px;padding-bottom: 8px; ">删除选中的订单</a>
        </div>
        <div class="order_page">
            {$page}
        </div>
	</empty>


<script type="text/javascript">
    seajs.use(['Ucenter'],function(ucenter){
        ucenter.center_init();
        ucenter.center_order_action();
    })
</script>
<!-- 个人中心 初始状态 end --></div></div></div>

   
</block>
