<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>欢迎您登录{:C('SITENAME')}</title>
        <link rel="stylesheet" type="text/css" href="__CSS__/login.css" media="all">
       	<link rel="stylesheet" type="text/css" href="__CSS__/{$Think.config.COLOR_STYLE}.css" media="all">
    </head>
    <body id="login-page">
        <div id="main-content">

            <!-- 主体 -->
            <div class="login-body">
                <div class="login-main pr"> 
                   <form action="{:U('login')}" method="post" class="login-form" id="login" onsubmit="return false">
                        <h3 class="welcome"><i class="login-logo"><img src="__IMG__/i.png"></i>{:C('SITENAME')}管理平台</h3>
                        <div id="itemBox" class="item-box">
                            <div class="item">
                                <i class="icon-login-user"></i>
                                <input type="text" name="username" placeholder="请填写用户名" autocomplete="off" />
                            </div>
                            <span class="placeholder_copy placeholder_un">请填写用户名</span>
                            <div class="item b0">
                                <i class="icon-login-pwd"></i>
                                <input type="password" name="password" placeholder="请填写密码" autocomplete="off" />
                            </div>
                            <span class="placeholder_copy placeholder_pwd">请填写密码</span>
                         
                        </div>
                        <div class="login_btn_panel">
                            <button class="login-btn" type="submit">
                                <span class="in"><i class="icon-loading"></i>登 录 中 ...</span>
                                <span class="on">登 录</span>
                            </button>
                            <div class="check-tips"></div>
                        </div>
                    </form> 
                </div>
            </div>
        </div>


   <script src="__LIBS__/sea/sea.js"></script>
   <script src="__LIBS__/sea/config.js"></script>
   <script src="__STATIC__/jquery.min.js"></script>
   <script src="__STATIC__/bootstrap/js/bootstrap.min.js"></script>

    <script type="text/javascript">
        seajs.use('AdminLogin',function(login){
            login();
        })
    </script>
</body>
</html>
