
<div class="modal-dialog">

   <div class="mainwrap">
    
	<div class="think-form"> <div class="loginform">
        <div class="hd">
          <strong>用户登录</strong><span>已有帐号？点击<a id='modal_login' href="javascript:;" data-url="{:U("wine/register")}">注册</a></span>            </div>
       
	       <a rel="nofollow" href="{:C('DOMAIN')}" class="img"><img src="__IMG__/login-3.jpg" width='300' height='280'></a></div><div class="login-other">
        <form class="form-horizontal login-user"  onsubmit="return false" action="{:U("wine/login")}" id="loginform" name="user" method="post">
          <div class="control-group ">
            <label class="control-label" for="username">用户名</label>
            <div class="controls">
              <em class="user glyphicon glyphicon-user"></em><input type="text" class="v_inp" placeholder="请输入邮箱、用户名或手机号"  id="inputusername" name="username">
            </div>
          </div>
          <div class="control-group">
            <label class="control-label" for="inputPassword">密码</label>
            <div class="controls">
             <em class="user glyphicon glyphicon-lock"></em> <input type="password" placeholder="请输入密码" class="v_inp" id="inputpassword"    name="password">
            </div>
          </div>
        <div class="control-group">
            <label class="control-label" for="verify">验证码</label>
            <div class="controls">
                <input type="text" id="verify" class="v_inp" class="span3" placeholder="请输入验证码"  style="width: 150px;display: inline-block" value="" name="verify">
                <img src="{:U('User/verify')}" class="checkCode"/>
            </div>
        </div>
          <input name="reffer" type="hidden" value="{$referr}">
          <div class="control-group">
            <div class="controls">
              <label class="checkbox">
                <input type="checkbox"> 自动登陆
              </label>
              <br/><button type="submit" id="login_btn_cart" class="v_dark_btn">登 陆</button>
            </div>
          </div>
        </form>
        <p>合作网站账号登录：{:hook('SyncLogin')}</p>
    </div>
   </div>

</div>

    <script type="text/javascript">
        seajs.use(['T','Login'],function(T,login){
            login.login();
        });
    </script>

