<extend name="Base/slidepic"/>



<block name="body">
     
        <!-- Contents  -->
      
	  <div class="ml_content">
<div class="goodlist-main">
	  <div class="lists-position">
	  <div class="category-title">
	  <h4><span><b>{$category.title}({$num})</b></span></h4>
	  <div class="category-child">
	  <empty name="childlist"> 
	  <else/>
	     <volist name="childlist" id="vo">
             <span> <a href="{:U('Article/lists/?category='.$vo['name'])}">{$vo.title}</a></span>
         </volist>
	  </empty>
</div>
</div>

 <div class="salesrank">
  <h5><span><b>销量排行</b></span></h5>
  <ul id="hot_sale">

  </ul>
  
  </div>
  <div class="salesrank">
      <h5><span><b>热门排行</b></span></h5>
      <!--侧边的图片-->
      <div class="area-sub">
          <div id="layout-t" class="tab-product tab-sub-3 ui-style-gradient">
              <div class="tab-bd dom-display">
                  <div class="tab-bd-con current">
                      <ul class="m-list list-tweet" id="hot_view">


                      </ul>
                  </div>

              </div>
          </div>
      </div>
      <!--侧边的图片-->
 </div>
	  </div>
	   <div class="lists-area">
	 
       <ul class="ml_content_top"><li <eq name="order" value="1">class="active"<else/></eq>><a rel="nofollow" url="{:U('article/index','order=1'.'&sort='.$see)}" href="{:U('Article/index','category='.$category['name'].'&order=1'.'&sort='.$see)}" class="{$value}">热度<i></i></a></li><li <eq name="order" value="2">class="active"<else/></eq>><a rel="nofollow" href="{:U('Article/index','category='.$category['name'].'&order=2'.'&sort='.$see)}"  class="{$value}">最新<i></i></a></li><li <eq name="order" value="3">class="active"<else/></eq>><a rel="nofollow" href="{:U('Article/index','category='.$category['name'].'&order=3'.'&sort='.$see)}"  class="{$value}">价格<i></i></a></li><li <eq name="order" value="4">class="active"<else/></eq>><a rel="nofollow" href="{:U('Article/index','category='.$category['name'].'&order=4'.'&sort='.$see)}"  class="{$value}">销量<i></i></a></li></ul> 
	  
	  <ul class="goodlist">
      
         <volist name="list" id="list"  empty="暂时没有数据" >
          <li class="face">
              <div style="display: relative;height: 186px;">
                <a  href="{:U('Article/detail?id='.$list['id'])}" class="list-img">
                    <img  src="{:C('QINIUDOMAIN')}/{$list.fengmian}"/>
                </a>
             </div>
             <p>
                 <a href="{:U('Article/detail?id='.$list['id'])}" class="t2"> {$list.title}</a>
             </p>
             <p><span class="red" title="预览：{$list.price}">价格：￥{$list.price}</span></p>

          </li>
         </volist>
	  </ul>
		  	<!-- 分页 -->
        <div class="page">
        {$page}
        </div>	
			
			</div>
	  </div>
	  
	 </div>

         
        </section>

    <script type="text/javascript">

        seajs.use(['Ucenter','AtcIndex'],function(ucenter,arcIndex){
            ucenter.center_init();
        })

    </script>
 	
</block>
