<extend name="Base/center"/>
<block name="body">
<div class="main">
    <div class="main_center">
        <div class="center_left">
            <!-- 左侧菜单 -->
            <include file="Public/leftmenu"/>
            <!-- 左侧菜单 -->
        </div><!-- 个人中心 初始状态 start -->
<div class="center_right" id="MemberCenterCtrl" style="display: block;">
<span  style="display: block;font-size:17px;text-align:center;color:#E23C3D;margin:20px 0;font-weight: bold">评价{$title}</span>

<script type="text/javascript" src="__JS__/jquery.raty.min.js"></script>

	<form action="{:U('comment/add')}" class="comment_area"  method="post" id="comment_form" name="actform"  >
        <h5>商品评价</h5>
        <table   class="comment_comment"  width="100%">
        <thead>
            <tr>
                <th width="45%">商品</th>
				<th width="10%" >好评</th>
				<th width="10%" >中评</th>
                <th width="10%">差评</th>
				 <th width="25%"></th>
				
              </tr>

             <tr>
                <td width="45%" align="center">
                    <div style="float: left;margin-left: 35px">
                        <a href="{:U('Article/detail?id='.$comment['goodid'])}"> <img src="{:C('QINIUDOMAIN')}/{$documen['fengmian']}" width="50" height="50"/></a>
                    </div>
                    <div style="float: left;margin-left: 10px;">
                        <p>
                            <a href="{:U('Article/detail?id='.$comment['goodid'])}">{$documen['title']}</a>
                        </p>
                        <p style="text-align: left">{$documen['brand']}</p>
                    </div>

                </td>
				<td width="10%" align="center"><input type="radio" onclick="set(this)" value="3"  checked="" name="score" class="score"><img src='__IMG__/ok.png'></td>
				<td width="10%" align="center"><input type="radio" onclick="set(this)" value="2" name="score" class="score"><img src='__IMG__/common.png'></td>
                <td width="10%" align="center"><input type="radio" onclick="set(this)" value="1" name="score" class="score"><img src='__IMG__/bad.png'></td>
				 <td width="25%"></td>
               
              </tr>
            <tr>
                <td width="45%" align="center"></td>
				<td width="10%" ></td>
				
               
              </tr>
        </table>


        <h5>商品评分</h5>
        <div class="goods-wrap" style="float:left;width:700px;margin-left:40px;"> </div>
        <div style="width:600px;float:left;padding:10px;">
            <div class="star"><div class="title">商品描述评价&nbsp;&nbsp;</div>
            <div id="goodid" class="target-demo"></div>
            <div id="goodid-hint" class="hint"></div>
        </div>
      <div class="star "><div class="title">服务态度评价&nbsp;&nbsp;</div>
        <div id="service" class="target-demo"></div>
        <div id="service-hint" class="hint"></div>
      </div>
     <div class="star "><div class="title">物流速度评价&nbsp;&nbsp;</div>
        <div id="delivery" class="target-demo"></div>
        <div id="delivery-hint" class="hint"></div>
     </div>
<div class="star ">
<input type="hidden" id="score" name="score" value="3">
<input type="hidden"  name="tag" value="{$comment.tag}">
<input type="hidden"  class="shopid" name="goodid" value="{$comment.goodid}">
<input type="hidden" name="shopid" value="{$comment.id}">
<input type="hidden"  class="good" name="goodscore" value="">
<input type="hidden"  class="service" name="servicescore" value="">
<input type="hidden"  class="delivery" name="deliveryscore" value=""> 
<textarea rows="3" cols="50" name="content" style="padding: 5px;margin: 10px 0px;"></textarea>
<div>
    <div class="star ">
        <input type="button" id="sub_comment" class="btn-central orange"  value="提交">
    </div>
</div>
</form>

</div>

<!-- 个人中心 初始状态 end --></div></div></div>
    <script type="text/javascript">
        function set(obj){
            $("#score").val(obj.value);
        }
        seajs.use(['Ucenter','Comment'],function(ucenter,comment){
            ucenter.center_init();
            ucenter.center_order_action();
            comment.getsort("__IMG__");
        })
    </script>
   
</block>
