<div class="think-form" id="reset" style="width: 400px;border-radius:4px;margin-top: 100px;margin-left: auto;margin-right: auto">
    <div class="loginform" >
        <div class="hd">
            <strong>{$msg}</strong>
        </div>

        <form action='{:U()}' method="post" name="actform" style="width:89%" id="form_backgood">

           <div id="write">
               <ul>
                   <li>
                       <div class="form-item">
                        <label class="item-label"><b>商品名称：</b><span >{$list.goodid|get_good_name}</span> </label>
                       </div>
                   </li>
                   <li>
                       <div class="form-item"><b>物品价格：</b><span>{$list.price}×{$list.num}</span></div>
                   </li>
                   <li>
                       <div class="form-item">
                        <label class="item-label"><span class="check-tips"></span> </label>
                        <div class="controls"><b>退货数量：</b><input type="text" class="text num input-large" name="num" value="{$list.num}">
                            <span>(最多可退{$list.num}件)	</span>
                        </div>
                        </div>
                   </li>
                    <li>
                        <div class="form-item">
                        <label class="item-label"><b>退货原因：</b><span class="check-tips"></span> </label>
                        <div class="controls">
                            <textarea rows=5" cols="20" name="reason" style="height:60px;width: 95%;border-radius: 3px;"></textarea>
                        </div>
                        </div>
                    </li>
                    <li>
                        <span style="margin: 0 21px"></span>
                            <input type="hidden" name="goodid" value="{$list.goodid}">
                            <input type="hidden" name="shopid" value="{$list.id}">
                            <input type="button" class="btn_submit_pay" id="sub_backgood" value="提 交" />
                    </li>
                </ul>
           </div>
         </form>
    </div>
    <div class="login-other"></div>
</div>


