<extend name="Base/center"/>
<block name="body">

    <div class="main"><div class="main_center"><div class="center_left">
        <!-- 左侧菜单 -->
        <include file="Public/leftmenu"/>
        <!-- 左侧菜单 -->
    </div>
    <div class="center_right" style="display: none;">
        <div class="center_right_loading"></div>
    </div>
        <div id="memberCenter" style="display: block;"><!-- 个人中心 初始状态 start -->
            <div class="center_right" id="MemberCenterCtrl" style="display: block;">
                <span  style="display: block;padding:15px;font-size:17px;text-align:center;color:#E23C3D;margin:20px 0;font-weight: bold;">物品退货信息详情反馈</span>

                <div class="back-detail" >
                    <empty name='list'>
                        <div class="personal_list_none_goods">
                            <p>没有该订单，<a href='{:U("index/index")}' class="red">查询错误</a></p>

                        </div>
	                <else />
                        <div class="apply">
                            <h3 style="display: block;color:white;background:#E23C3D">买家申请退货说明</h3>
                            <div class="apply-wrap">
                                <div class="back-detail-asc">
                                    <p>申请时间：{$list.create_time|date='Y-m-d H:i:s',###} </p>
                                    <p>商品名称：<a href="{:U('Article/detail',array('id'=>$document['id']))}" target="_blank">{$document['title']}</a></p>
                                    <p>商品金额：￥{$list.total}×{$list.num}</p>
                                    <p>退货原因：<span style="color: #E23C3D;font-weight: bold">{$list.reason}</span></p>
                                </div>
                                <div class="back-good-img">
                                    <img src="{:C('QINIUDOMAIN')}/{$document['fengmian']}"  width="150" height="150"/>
                                </div>
                            </div>
                          </div>
			
                          <div class="apply-feedback">
                              <h3 style="display: block;color:white;background: #E23C3D">卖家反馈</h3>
                              <p>反馈时间：<empty name="list.update_time">暂未处理<else/>{$list.update_time|date='Y-m-d H:i:s',###}</empty></p>  <p>反馈信息：<span class="red">
                              <php>
                              $status=$list['status'];
                              if($status==1){ echo "待审核";};
                              if($status==2){ echo "同意退货";};
                              if($status==3){ echo "退货被拒绝";};
                              if($status==4){ echo "正退货";};
                              if($status==5){ echo "已退货";};</php>
                                </span>
                              </p>

                            <if condition="$list.status eq '2'">

                            <p>退货地址：<span class="red"><i class="glyphicon glyphicon-user"></i>{$list.backname}  <i class="glyphicon glyphicon-map-marker"></i>{$list.address}  <i class="glyphicon glyphicon-phone"></i>{$list.contact}</span></p>
                            <p style="display: block;color:white;background: #E23C3D">买家退货快递</p>
                            <form action="{:U('order/backkuaidi')}" method="post" class="form-horizontal" id="form_backkuaidi">
                                <input type="hidden" class="text input-large"  name="backid"  value="{$list.id}">
                                <input type="hidden" class="text input-large"  name="shopid"  value="{$list.shopid}">
                                <p>快递名称：<input type="text" class="text input-large"  name="tool" style="padding: 0px 5px;width: 250px;" ></p>
                                <p>快递单号：<input type="text" class="text input-large"  name="toolid" style="padding: 0px 5px;width: 250px;" ></p>
                                <p><input type="button" class="btn_submit_pay" id="sub_backkuaidi"  value="提交" /></p>
                            </form>
                         <elseif condition="$list.status eq '3'"/>
                         <p>拒绝原因：<span style="color: #E23C3D;font-weight: bold">{$list.backlist}</span></p>
                         <elseif condition="$list.status eq '4'"/>
                            <p>退货地址：<span class="red"><i class="glyphicon glyphicon-user"></i>{$list.backname}  <i class="glyphicon glyphicon-map-marker"></i>{$list.address}  <i class="glyphicon glyphicon-phone"></i>{$list.contact}</span></p>
                            <h3 style="display: block;color:white;background: #E23C3D">买家退货快递</h3>
                            <p>快递名称：{$list.tool}</p>
                            <p>快递单号：{$list.toolid}</p>

                         <elseif condition="$list.status eq '5'"/>
                            <p>退货地址：<span class="red"><i class="glyphicon glyphicon-user"></i>{$list.backname}  <i class="glyphicon glyphicon-map-marker"></i>{$list.address}  <i class="glyphicon glyphicon-phone"></i>{$list.contact}</span></p>
                            <h3 style="display: block;color:white;background: #E23C3D">买家退货快递</h3>
                            <p>快递名称：{$list.tool}</p>
                            <p>快递单号：{$list.toolid}</p>
                            <h3 style="display: block;color:white;background: #E23C3D">卖家反馈</h3>
                            <p><span style="color: #E23C3D;font-weight: bold">退货已完成</span></p>
                         <else />

                         </if>
                    </empty>


</div>

<!-- 个人中心 初始状态 end --></div> </div></div>
        <script type="text/javascript">

            seajs.use(['Ucenter'],function(ucenter){
                ucenter.center_init();
                ucenter.center_order_action();
            })
        </script>
       
   
</block>
