<extend name="Public/base"/>
#tab1 table{border-right:1px solid #F00;border-bottom:1px solid #F00}
#tab1 table td{border-left:1px solid #F00;border-top:1px solid #F00}
<block name="body">
	<div class="main-title">
		<h2>
			{$info['id']?'编辑':'新增'}订单
		
		</h2>
	</div>
	<ul class="tab-nav nav">
	<li data-tab="tab1" class="current"><a href="javascript:void(0);">编辑订单</a></li>
	</ul>
<div class="tab-content">						
<form action="{:U()}" method="post" class="form-horizontal">
    <div id="tab1" class="tab-pane in tab1">
		<div class="form-item">
			<label class="item-label">退货商品<span class="check-tips">（用于显示的文字）</span></label>
			<div class="controls">
				<input type="hidden" class="text input-large"  name="goodid"  value="{$info.goodid}">
				{$info.shopid|get_good_name}
			</div>
		</div>
	    <div class="form-item">
			<label class="item-label">规格<span class="check-tips"></label>
			<div class="controls">
				<input type="text" class="text input-large" name="parameters" value="{$info.parameters}" >
			</div>
		</div>
		<div class="form-item">
			<label class="item-label">原因<span class="check-tips">（退货原因）</span> </label>
			<div class="controls">
			<label class="textarea input-large">
				<textarea name="reason">{$info.reason}</textarea>
			</label>				
			</div>
		</div>
        <div class="form-item">
			<label class="item-label">数量<span class="check-tips"></span></label>
			<div class="controls">
				<input type="text" class="text input-large" name="num" value="{$info.num}">
			</div>
		</div>
		<div class="form-item">
			<label class="item-label">金额<span class="check-tips"></span></label>
			<div class="controls">
				<input type="text" class="text input-large" name="total" value="{$info.total}">
			</div>
		</div>
		
	</div>

		
    <div class="form-item cf">
        <input type="hidden" name="id" value="{$info.id|default=''}">
        <input type="hidden" name="memberid" value="{$info.uid|default=''}">
        <input type="hidden" name="shopid" value="{$info.shopid|default=''}">
        <button class="btn submit-btn ajax-post" id="submit" type="submit" target-form="form-horizontal">确 定</button>
        <button class="btn btn-return" onclick="javascript:history.back(-1);return false;">返 回</button>
    </div>

		  
  </form>
	</div></div>
</block>
<block name="script">
<script type="text/javascript" charset="utf-8">
	//导航高亮
	highlight_subnav('{:U('index')}');
	if($('ul.tab-nav').length){
		//当有tab时，返回按钮不显示
		$('.btn-return').hide();
	}
	$(function(){
		//支持tab
		showTab();
	})

</script>
</block>
