<html>
<head>
    <title>asdas</title>
    <meta charset='utf-8'>

    <script type="text/javascript" src="style/js/shopCenter.js"></script>


    <link href="__CSS__/top.css" rel="stylesheet">
    <link href="__CSS__/common.css" rel="stylesheet">
    <link href="__CSS__/footer.css" rel="stylesheet">
    <link href="__CSS__/shopCenter.css" rel="stylesheet">


    <script src="__LIBS__/sea/sea.js"></script>
    <script src="__LIBS__/sea/config.js"></script>
    <script src="__STATIC__/jquery.min.js"></script>
    <script src="__STATIC__/bootstrap/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="__JS__/public.js"></script>
    <script type="text/javascript" src="__JS__/index/shopCenter.js"></script>



</head>
<body>
<volist name="category" id="vo"  key="k" >

<h3 class="bbtitles">{$vo.title}<span class="paixu"><a href="{:U('Article/index?category='.$vo['name'])}">更多菜单 ></a></span></h3>
<div class="ztlist_style">
    <div class="index_cd_leftarrow"></div><div  class="index_cd_leftarrow_mask"></div>
    <div  class="index_cd_rightarrow"></div><div  class="index_cd_rightarrow_mask"></div>

    <div class="ztlist_style_item_w" >
        <div class="ztlist_style_item_ww" >


            <div class="ztlist_style_item_w1">
            <volist name="vo.doc" id="article" key="j">
                 <if condition="($j+1)%6 eq 0">
                     </div>
                     <div class="ztlist_style_item_w1">
                 </if>

                <div class="ztlist_style_item">
                    <ul class="ztlist_style_item_list clearfix">
                        <li class="current">
                            <div class="topzt">
                                <a target="_blank" href="{:U('Article/detail?id='.$article['id'])}" class="img"><img src="/Uploads/Picture/2014-10-27/544d283099170.png"></a>
                                <div class="c">
                                    <div class="shop_info">
                                        <div class="cc1">
                                            <strong class="title"><a target="_blank" href="{:U('Article/detail?id='.$article['id'])}">{$article.title}</a></strong>
                                            <p>产地：法国 <span style="float: right">价格：{$article.price}元</span></p>
                                        </div>
                                        <div class="cc2">
                                            <strong class="title"><a target="_blank" href="/huodong/20150817_laoren.php?from_s=home2">红葡萄酒</a></strong>
                                            <p>场合：婚庆、自饮</p>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
                </volist>
            </div>



        </div>
    </div>
</div>

</volist>

</body>
</html>		