
ol,ul {list-style:none;}
li{list-style-type:none;}
address,cite,code,em,th,i{font-weight:normal; font-style:normal;}
.hx a,.hx em,.fB{font-weight:bold;}
.clearfix{*zoom:1;}
.clearfix:after{display:block; overflow:hidden; clear:both; height:0; visibility:hidden; content:".";}

.list-tweet i{background-image:url(../images/icon_v7.png);background-repeat:no-repeat;}
.i-entry{padding:2px 22px 2px 0;background-position:right -89px;}
.dom-display .normal{display:none;}
.dom-display .current{display:block;}
.area-sub{clear: both; padding: 0px; overflow: hidden; border: 10px solid #eee;border-top: none;}
    /* layout */

#layout-t .tab-bd{height:350px;}
.ui-style-gradient .tab-hd-con,.ui-style-gradient .box-hd{background-image: -webkit-gradient(linear, left top, left bottom, from(rgb(254, 254, 254)), to(rgb(237, 237, 237)));background-image: -webkit-linear-gradient(top, rgb(254, 254, 254), rgb(237, 237, 237));background-image: -moz-linear-gradient(top, rgb(254, 254, 254), rgb(237, 237, 237));background-image: -o-linear-gradient(top, rgb(254, 254, 254), rgb(237, 237, 237));background-image: -ms-linear-gradient(top, rgb(254, 254, 254), rgb(237, 237, 237));background-image: linear-gradient(top, rgb(254, 254, 254), rgb(237, 237, 237));}
.tab-hd-con{float:left;font-size:14px; cursor:pointer;}
.tab-hd-con a{display:inline-block;}
.tab-hd .current{font-weight:bold;}
.tab-bd-con{display:none;overflow:hidden;}
.tab-ft{margin-top:8px;line-height:20px;color:#c1c1c1;text-align:right;}
.tab-ft a,.tab-ft a:visited{color:#666;}
.tab-ft a:hover{color:#ba2636;}
.tab-main-3 .tab-hd-con{width:102px;}
.tab-sub-2 .tab-hd-con{width:148px;}
.tab-sub-2 .tab-hd .current{width:149px;}
.tab-sub-3 .tab-hd-con{width:98px;}
.tab-sub-3 .tab-hd .current{width:100px;}
.tab-sub-4 .tab-hd-con{width:73px;}
.tab-sub-4 .tab-hd .current{width:76px;}
.tab-area .tab-hd-con{width:102px;}
.tab-main .tab-hd,.tab-sub .tab-hd,.tab-product .tab-hd,.tab-area .tab-hd{overflow:hidden;height:30px;line-height:30px; background:#DAB5CE;}
.tab-main .tab-hd-con,.tab-sub .tab-hd-con,.tab-product .tab-hd-con,.tab-area .tab-hd-con{height:29px;}
.tab-main .tab-hd .current,.tab-sub .tab-hd .current,.tab-product .tab-hd .current,.tab-area .tab-hd .current{position:relative;z-index:1;height:30px;}
.tab-main .tab-bd,.tab-sub .tab-bd,.tab-product .tab-bd,.tab-area .tab-bd{margin-top:-1px;}

.tab-main .tab-bd-con,.tab-sub .tab-bd-con,.tab-ad .tab-bd-con,.tab-area .tab-bd-con{padding-top:18px;}
.tab-sub .tab-bd-con{padding-right:9px;padding-left:13px;}
.tab-main .tab-bd-con{padding-right:10px;}
.list-tweet{height:350px;overflow:hidden;}
.list-tweet li,.list-tweet i{-webkit-transition:all .3s;-moz-transition:all .3s;-o-transition:all .3s;transition:all .3s;}
.list-tweet li{float:left;padding: 10px;overflow:hidden;background: url(../images/dot.gif) repeat-x bottom;width: 210px;}
.list-tweet i{float:right;width:17px;height:17px;overflow:hidden;margin-top:13px;*display:inline;}
.list-tweet h3{height:36px;overflow:hidden;font-size:14px;}
.list-tweet img{float:left;margin-right:9px;border:1px solid #CCC; padding:2px; width:90px; height:100px; vertical-align:top;}
.list-tweet img:hover{
	border:2px solid #DAB5CE;
    padding: 1px;
    -webkit-animation-name: tada;
    animation-name: tada;
}
.list-tweet p{font-size:12px;height:84px;line-height:21px;color:#666;}
.drink-me{height:20px;background:#fff;}
.drink-me i{font-size:14px;opacity:1;text-indent:-10em;}
.eat-me{height:170px;}
.eat-me:hover{background:#EBE8E8;}
.eat-me i{*display:none;opacity:0;}
.eat-me h3{font-weight:bold; }
.list-tweet li h3 a{color:#666;}
.list-tweet li h3 a:hover{color:#E23C3D;}
.tweet-detail-func{float:right;margin-right:18px;padding-left:20px;font-size:12px;font-weight: bold;line-height:28px;color:#E23C3D; height:28px; width:61px;background: url("../images/slidepic_price.png") left center no-repeat; background-size: 18px 18px;}
.tweet-detail-func a,.tweet-detail-func a:visited{display:block; color:#E23C3D;}
.tweet-detail-func a:hover{font-weight:bold; text-decoration:none;}
.tweet-xxl{color:#A62F3A;background-position:left -599px;}
.tweet-xl{color:#C35A4D;background-position:left -618px;}
.tweet-l{color:#DC754B;background-position:left -638px;}
.tweet-m{color:#F4904B;background-position:left -658px;}
.tweet-s{color:#E1E1E1;background-position:left -658px;}
.tab-main .lh-import-news{padding-top:5px;}
.special,.column{padding-right:9px;padding-left:16px;font-size:14px;line-height: 27px;}
.column-title{width:50px;height:21px;margin-top:15px;margin-bottom:6px;font-size:12px;line-height:21px;text-align:center;color:#fff;}
.column-title a{padding:2px 12px;color:#fff;}
.column-title a:hover{text-decoration:none;}
.lump-blue{background:#2D7EAA;}
.lump-green{background:#70A33B;}
.lump-gray{background:#656565;}
.lump-red{background:#DC233E;}
.special img{margin:15px 0;}
.special p{padding-top:6px;height:22px;line-height:22px;font-size:14px;overflow:hidden;}
/* �������?����֮�� www.lanrenzhijia.com */